In [2]:
import pandas as pd

df = pd.read_json('jobs.json')
df

,title,location
0,Data Scientist,"Ghent, Flemish Region, Belgium"
1,Data Scientist,"Heverlee, Flemish Region, Belgium"
2,Data Science Content Development Intern,"Leuven, Flemish Region, Belgium"
3,Data Scientist,"Leuven, Flemish Region, Belgium"
4,Data Scientist,"Leuven, Flemish Region, Belgium"
...,...,...
920,Data Engineer,"Geel, Flemish Region, Belgium"
921,Data Scientist,"Halle, Flemish Region, Belgium"
922,Data Scientist,"Leuven, Flemish Region, Belgium"
923,Business Intelligence Developer,"Flemish Region, Belgium"
924,NLP Data Scientist,"Ghent, Flemish Region, Belgium"